<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="cf-2fa-verify" value="KWpgNdt47ngR9Cl" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/static/css/styles.css' | url }}" />
    <link rel="icon" href="{{ '/assets/favicon.ico' | url }}" sizes="32x32" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    {% include "header.njk" %}

    <main class="main">{{ content | safe }}</main>
    {% include "footer.njk" %}
    <script src="{{ '/static/js/main.js' | url }}" type="module"></script>
    <script src="{{ '/static/js/boots-bundle.js' | url }}" type="module"></script>
  </body>
</html>
