<div class="footer__contact">
    <h3 class="text-center">Send Us A Message</h3>
    <form id="contact-form" action="https://formsubmit.co/9e244935b33cbdb565b4a005073045c3" method="POST" class="form-floating form " >
            <div class="form-wrapper  ">
                <div class="contact-header ">
                    <div class="mb-3 row">
                        <div class="col-lg">
                            <label class="form-label" for="contact-name">Name</label>
                            <input type="text" class="form-control mt-1" id="contact-name" name="name" placeholder="Your Name" required>
                            
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <div class="col-lg">
                            <label class="form-label" for="contact-subject">Subject</label>
                            <input type="text" class="form-control mt-1" id="contact-subject" name="subject" placeholder="Subject" required>
                        </div>
                        
                    </div>
                    <div class="mb-3 row ">
                        <div class="col-lg">
                            <label class="form-label " class="form-label" for="contact-email">Email</label>
                            <input type="email" class="form-control mt-1" id="contact-email" name="email" placeholder="Your Email Address" required>
                            
                        </div>
                    </div>
                </div>
                <div class="contact-contents ">
                    <div class="mb-3 ">
                        <div class="col-lg">
                            <label for="contact-comments mb-0" class="form-label">Comments</label>
                            <textarea name="comments" class="form-control" id="contact-comments" cols="30" rows="10" required></textarea>
                            
                        </div>
                    </div>
                    <input type="text" name="_honey" id="honey-pot">
                </div>
            </div>
        {# email provider doesn't know what to do with the relative path #}
        {# <input type="hidden" name="_next" value="{{ '/' | url }}"> #}
        <input type="hidden" name="_next" value="https://actq.hubco.dev">
        <input type="hidden" name="_captcha" value="true">
        

         <button class="btn btn-custom px-3"type="submit">Send</button>
    </form>
</div>