<header>

    <nav class="navbar navbar-expand-lg bg-body-light flex-nowrap" role="navigation">
        <div class="container-fluid justify-space-between p-0" >
            <a class="navbar-brand" href="/">
                <img class="actq-logo" id="nav-img-lg" src="/assets/actq_logo.png" alt="Accounteque Services, Inc Experienced Accountants">
            </a>  
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarSupportedContent">
                <div class="off-wrapper offcanvas-body">
                    <ul class="navbar-nav mb-2 mb-md-0 gap-2 px-2" >
                        <li class="nav-item" ><a class="nav-link fs-6 active fw-semibold" aria-current="page" href="{{ '/' | url}}">Home</a></li>
                        <li class="nav-item "><a class="nav-link fs-6 fw-semibold" href="{{ '/services/' | url }}">Services</a></li>
                        <li class="nav-item"><a class="nav-link fs-6 text-nowrap fw-semibold" href="">Financial Calculators</a></li>
                        <li class="nav-item"><a class="nav-link fs-6 text-nowrap fw-semibold" href="">About Us</a></li>
                        <li class="nav-item"><a class="nav-link fs-6 text-nowrap fw-semibold" href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>