<header>

    <nav class="navbar navbar-expand-sm bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/ACCOUNTEQUE SERVICES, INC Experienced Accountants.png" alt="Accounteque Services, Inc Experienced Accountants">
            </a>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link " href="">Home</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">Services</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">Bookkeeping</a></li>
                    <li><a class="dropdown-item" href="">Financial Planning</a></li>
                    <li><a class="dropdown-item" href="">Financial Statements</a></li>
                    <li><a class="dropdown-item" href="">Individuals</a></li>
                    <li><a class="dropdown-item" href="">Payroll Services</a></li>
                    <li><a class="dropdown-item" href="">Business Tax Returns</a></li>
                    <li><a class="dropdown-item" href="">Tax Planning</a></li>
                    <li><a class="dropdown-item" href="">Business Valuations</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link " href="">About us</a></li>
            <li class="nav-item"><a class="nav-link " href="">Financial Calculators</a></li>
            <li class="nav-item"><a class="nav-link " href="">Contact Us</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">More</a>
                <ul class="dropdown-menu"> 
                    <li><a class="dropdown-item" href="">Newsletter</a></li>
                    <li><a class="dropdown-item" href="">Links</a></li>
                    {# <li><a href="">Additional Pages</a></li> scratch this page it's not valuable/redundant #}
                    <li><a class="dropdown-item" href="">Make a Payment</a></li>
                    <li><a class="dropdown-item" href="">Client Newsletter</a></li>
                    <li><a class="dropdown-item" href="">Tax Tips</a></li>
                    <li><a class="dropdown-item" href="">Tax Videos</a></li>
                    <li><a class="dropdown-item" href="">Client Resources</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</header>