<div class="modal fade" id="terms-of-service-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Terms of Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This Web site is made available as a service to our clients and others for informational purposes only. These materials and information should not be considered as, or a substitute for, accounting, tax or financial advice. While it is hoped the materials provided here are helpful as background material, it is not warranted either expressly or implied as accurate or complete. You should refrain in taking any action based upon the information provided here until you have received proper counsel.
    
    In addition, you understand that any links to any other web site or services does not constitute endorsement of or warranty of any service, product or information provided on their site(s). These links are provided for convenience only.
    
    While our intent is to make transmissions to and from this web site secure, it is understood that no warranty of security can be made and that unforeseen security breaches by "hackers" is a possibility, however slight.
    
    Reproduction of part or all of the contents on this site in any form is prohibited other than for individual use only and it may not be shared with any third party. All content on this site is copyright protected and/or trademarked as appropriate and may not be copied, duplicated or altered in any way.
    
    </p>
    <p>© 2023. All Rights Reserved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

{# 
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="terms-of-service-modal"
 data-bs-keyboard="false" tabindex="-1" aria-labelledby="terms-of-service-label" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="terms-of-service-label">Terms of Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This Web site is made available as a service to our clients and others for informational purposes only. These materials and information should not be considered as, or a substitute for, accounting, tax or financial advice. While it is hoped the materials provided here are helpful as background material, it is not warranted either expressly or implied as accurate or complete. You should refrain in taking any action based upon the information provided here until you have received proper counsel.
    
    In addition, you understand that any links to any other web site or services does not constitute endorsement of or warranty of any service, product or information provided on their site(s). These links are provided for convenience only.
    
    While our intent is to make transmissions to and from this web site secure, it is understood that no warranty of security can be made and that unforeseen security breaches by "hackers" is a possibility, however slight.
    
    Reproduction of part or all of the contents on this site in any form is prohibited other than for individual use only and it may not be shared with any third party. All content on this site is copyright protected and/or trademarked as appropriate and may not be copied, duplicated or altered in any way.
    
    © 2023. All Rights Reserved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
    
</div> #}