---
title: ACTQ | About Us
layout: page.njk
permalink: /about/
---


<div class="about-wrapper">
    <h2>About Accounteque Services, Inc</h2>
    <hr>
    <div class="about-wrapper">
        <h6>Our company specializes in accounting and tax preparation services for a wide variety of clients. We specialize in:</h6>
    
    
        <ul>
            <li>Tax return filing and tax planning for individuals</li>
            <li>Bookkeeping and financial statements for small businesses</li>
            <li>Corporate tax return filing</li>
        </ul>
    
        <p>Annual participation in Continuing Professional Education courses offered by local chapters of national accounting and tax associations keeps our firm on the leading edge of ever-changing tax laws and accounting methods.</p>
    
        <p>Computerized offices and internet access ensures clients accurate, efficient, state-of-the-art service at a competitive price.</p>
    
        <p>Visit the Services area of our site to learn more about the many accounting and tax services available to individuals and businesses.</p>
        <p>Feel free to contact our office anytime at 847-768-9100. We're here to help.</p>
    </div>
</div>