---
title: ACTQ | Financial Calculators
layout: page.njk
permalink: /calculators/
---

<div class="container-md">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="fintool-category-title">Tax Calculators</h3>
                  <ul class="fintools-category-list">
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/Payroll.html">
                        Payroll Deductions
                      </a></li>
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/Tax1040.html">
                        1040 Tax Calculator</a></li>
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/TaxMargin.html">
                        Marginal Tax Calculator</a></li>
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/InvestCompare.html">
                        Taxable vs. Tax Advantaged Investments</a></li>
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/EarnedIncomeCredit.html">
                        Earned Income Credit (EIC) Calculator</a></li>
                    <li><a class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/EstatePlan.html">
                        Estate Tax Planner</a></li>
                  </ul>
        </div>
    
                <div class="col-md-6">
                    <h3 class="fintool-category-title">Retirement and Planning Tools</h3>
                    <ul class="fintools-category-list">
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RothvsRegular.html"
                        >
                          Roth vs. Traditional IRA
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RetirementPlan.html"
                        >
                          Retirement Planner
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RothTransfer.html"
                        >
                          Roth IRA Conversion
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/SocialSecurity.html"
                        >
                          Social Security Benefits
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RetireDistrib.html"
                        >
                          Required Minimum Distribution
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RetireShort.html"
                        >
                          Retirement Shortfall
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RetireSolo401k.html"
                        >
                          401(k) Savings Calculator
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/RetirementIncome.html"
                        >
                          Retirement Income
                        </a>
                      </li>
                    </ul>
                </div>
    </div>
    
          <div class="row">
              <div class="col-md-6">
                  <h3 class="fintool-category-title">Personal Finance</h3>
                  <ul class="fintools-category-list">
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CreditAssessment.html"
                      >
                        Credit Assessment
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/HomeBudget.html"
                      >
                        Home Budget Analysis
                      </a>
                      <span class="calc-type">&nbsp;(graphical)</span>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=household.budget"
                      >
                        Home Budget Analysis
                      </a>
                      <span class="calc-type">&nbsp;(personalized)</span>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CardOptimizer.html"
                      >
                        Credit Card Optimizer
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/StudentBudget.html"
                      >
                        Student Budget
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/PayoffCC.html"
                      >
                        Credit Card Payoff
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/EnhancedLifeIns.html"
                      >
                        Comprehensive Life Insurance Needs
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/StudentRolldown.html"
                      >
                        Student Loan Consolidation and Payoff
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/NetWorth.html"
                      >
                        Net Worth
                      </a>
                      <span class="calc-type">&nbsp;(graphical)</span>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=net.worth"
                      >
                        Net Worth
                      </a>
                      <span class="calc-type">&nbsp;(personalized)</span>
                    </li>
                  </ul>
                </div>  
                    
                    <div class="col-md-6">
                        <h3 class="fintool-category-title">Savings and Investments</h3>
                        <ul class="fintools-category-list">
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/Savings.html"
                            >
                              Savings Goals
                            </a>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CompoundSavings.html"
                            >
                              Savings Calculator
                            </a>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/SavingsVariables.html"
                            >
                              Savings, Taxes and Inflation
                            </a>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/col-md-6legeSavings.html"
                            >
                              col-md-6lege Savings
                            </a>
                            <span class="calc-type">&nbsp;(graphical)</span>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=col-md-6lege.need"
                            >
                              col-md-6lege Savings
                            </a>
                            <span class="calc-type">&nbsp;(personalized)</span>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CompoundInterest.html"
                            >
                              Compound Interest and your Return
                            </a>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/InvestmentDistribution2.html"
                            >
                              Investment Distributions
                            </a>
                          </li>
                          <li>
                            <a
                              class="calculator-link link-list-item"
                              href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/InvestmentVariables.html"
                            >
                              Investment Goal Calculator
                            </a>
                          </li>
                        </ul>
                    </div>
           </div>
    
          <div class="row">
              <div class="col-md-6">
                  <h3 class="fintool-category-title">Business Calculators</h3>
                  <ul class="fintools-category-list">
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CashFlow.html"
                      >
                        Cash Flow Calculator
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/Capital.html"
                      >
                        Working Capital Needs
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/BizBuyvsLease.html"
                      >
                        Equipment Lease versus Buy
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/Ratios.html"
                      >
                        Financial Ratios
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/BreakEven.html"
                      >
                        Breakeven Analysis
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/BusinessValuation.html"
                      >
                        Business Valuation
                      </a>
                    </li>
                  </ul>
              </div>
                <div class="col-md-6">
                    <h3 class="fintool-category-title">Home Ownership</h3>
                    <ul class="fintools-category-list">
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageArmvsFixed.html"
                        >
                          ARM versus Fixed Rate Mortgage
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageMax.html"
                        >
                          Maximum Mortgage
                        </a>
                        <span class="calc-type">&nbsp;(graphical)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=afford.home"
                        >
                          Maximum Mortgage
                        </a>
                        <span class="calc-type">&nbsp;(personalized)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageQualifier.html"
                        >
                          Mortgage Qualifier
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageLoan2.html"
                        >
                          Mortgage Loan Calculator (PITI)
                        </a>
                        <span class="calc-type">&nbsp;(graphical)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=principal.interest"
                        >
                          Mortgage Loan Calculator (PITI)
                        </a>
                        <span class="calc-type">&nbsp;(personalized)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageCompare.html"
                        >
                          Mortgage Comparison: 15 vs. 30 years
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageRefinance.html"
                        >
                          Refinance Breakeven
                        </a>
                        <span class="calc-type">&nbsp;(graphical)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=refinance"
                        >
                          Refinance Breakeven
                        </a>
                        <span class="calc-type">&nbsp;(personalized)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageAdjustable.html"
                        >
                          Adjustable Rate Mortgage Calculator
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/MortgageRentvsBuy.html"
                        >
                          Rent versus Buy
                        </a>
                      </li>
                    </ul>
                </div>
          </div>


          <div class="row">
              <div class="col-md-6">
                  <h3 class="fintool-category-title">Loan Calculators</h3>
                  <ul class="fintools-category-list">
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/SimpleLoan.html"
                      >
                        Amortizing Loan Calculator
                      </a>
                      <span class="calc-type">&nbsp;(graphical)</span>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=loan.payment"
                      >
                        Amortizing Loan Calculator
                      </a>
                      <span class="calc-type">&nbsp;(personalized)</span>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/CompareLoan.html"
                      >
                        Loan Comparison Calculator
                      </a>
                    </li>
                    <li>
                      <a
                        class="calculator-link link-list-item"
                        href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/LoanPrequal.html"
                      >
                        Loan Prequalification Calculator
                      </a>
                    </li>
                  </ul>
              </div>
                
                <div class="col-md-6">
                    <h3 class="fintool-category-title">Vehicle Financing</h3>
                    <ul class="fintools-category-list">
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/AutoRebate.html"
                        >
                          Auto Rebate OR Low Interest Financing
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/BuyvsLease.html"
                        >
                          Auto Lease versus Buy
                        </a>
                        <span class="calc-type">&nbsp;(graphical)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/financial-tools?template=lease.buy"
                        >
                          Auto Lease versus Buy
                        </a>
                        <span class="calc-type">&nbsp;(personalized)</span>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/AutoLoan.html"
                        >
                          Auto Loans
                        </a>
                      </li>
                      <li>
                        <a
                          class="calculator-link link-list-item"
                          href="https://www.finansw.com/member/accounteque-services-inc/calculators/2023/AutoEquityLoan.html"
                        >
                          Home Equity versus Auto Loan
                        </a>
                      </li>
                    </ul>
                </div>
          </div>
</div>
