@use 'partials/bootstrap.scss'
    
$accent-color: #2D5A72
$background-color: #FEFEFE

.fs-7
    font-size: 12px

header
    .actq-logo
        height: 75%
        width: 75%


.main
    &__hero-section
        background-color: $accent-color
        padding: 1rem 3rem
        .carousel-page
            display: flex
            gap: 3rem
            img
                max-width: 60%
                height: 25em
                object-fit: cover
                border-radius: .25em
                margin: 2.5rem 0
        .carousel-text
            max-height: 60%
            max-width: 50%
            color: $background-color
            padding: 1.5rem 1.5rem
            margin: auto 0
            border-radius: .25em
        .carousel-control-next, 
        .carousel-control-prev
            display: flex
            align-items: flex-end
            z-index: 3
        .carousel-indicators
            margin-bottom: 0.3rem
        
    &__services
        display: flex
        gap: 3rem
        padding: 4rem
        margin: 0 auto




.footer
    &__content
        padding: 3rem 3rem
        p, h6, a
            margin: 0
    &__foot
        background-color: $accent-color
        color: white
        min-height: 4rem
        padding: 1.5rem 3rem 0 3rem
    &__copy-terms
        display: flex
        margin: 0 auto
        justify-content: space-between
