@use 'partials/bootstrap.scss'
    
$accent-color: #2D5A72
$accent-hover: rgba(45, 90, 114, 0.65) 
$primary-color: #FEFEFE
$secondary-color: #F0F0EF

.fs-7
    font-size: 12px

.card
    width: 18.75em
    height: 16.1875em
    max-width: 30vw
    padding: 1rem
    background-color: $secondary-color  
    -webkit-box-shadow: 1px 1px 2px 0px rgba( 214, 214, 214, 0.65)
    -moz-box-shadow: 1px 1px 2px 0px rgba( 214, 214, 214, 0.65)
    box-shadow: 1px 1px 2px 0px rgba( 214, 214, 214, 0.65)
.card:hover
    -webkit-box-shadow: 1px 1px 2px 0px $accent-hover
    -moz-box-shadow: 1px 1px 2px 0px $accent-hover
    box-shadow: 1px 1px 2px 0px $accent-hover
svg
    max-height: 78px
    max-width: 78px
svg:not(:root) 
    overflow: hidden

header
    height: 20vh
    .actq-logo
        height: 75%
        width: 75%


.main
    &__hero-section
        background-color: $accent-color
        padding: 3rem 3rem
        height: 80vh
        
        .carousel-page
            display: flex
            // gap: 3rem
            justify-content: center
            align-items: center
            margin: auto 0
            .text-container
                height: 60vh
                   
            img
                max-width: 50vw
                height: 60vh
                object-fit: cover
                border-radius:0 .25em .25em 0
        .carousel-text
            // max-height: 25em
            display: flex
            max-width: 25vw
            height: 100%
            text-align: center
            align-content: center
            background-color: rgba(0, 0, 0, 0.219)
            -webkit-box-shadow: 1px 1px 2px 0px rgba(37, 37, 37, 0.65)
            -moz-box-shadow: 1px 1px 2px 0px rgba(37, 37, 37, 0.65)
            box-shadow: 1px 1px 2px 0px rgba(37, 37, 37, 0.65)
            color: $primary-color
            padding: 1.5rem 1.5rem
            
            border-radius: .25em 0 0 .25em
        .carousel-control-next, 
        .carousel-control-prev
            // display: flex
            // align-items: flex-end
            // z-index: 3
            width: 10%
        .carousel-indicators
            margin-bottom: 0.3rem
        
    &__services
        display: block
        padding: 4rem
        margin: 0 auto
        text-align: center
        .services-cards
            display: flex
            gap: 2rem
            margin: 0 auto
            justify-content: center

    &__player
        width: 75vw
        // border-top: 3px solid #2D5A72
        padding-top: 3rem
    .hr-70
        width: 70vw
    &__cta
        
        display: flex
        flex-direction: column
        gap: 3rem
        .links-cta
            display: flex
            gap: 2rem
            flex-wrap: wrap

#mainSection
    background-color: $secondary-color

.footer
    &__content
        padding: 3rem 3rem
        p, h6, a
            margin: 0
    &__foot
        background-color: $accent-color
        color: white
        min-height: 4rem
        padding: 1.5rem 3rem 0 3rem
    &__copy-terms
        display: flex
        margin: 0 auto
        justify-content: space-between
    a
        color: white
    &__contact
        padding: 1.5rem 5rem
        margin: 1em auto
        .form-wrapper
            display: flex
            gap: 3rem
            justify-content: center
            flex-wrap: wrap
        .contact-header
            display: flex
            flex-direction: column
            gap: 1.5rem
            padding-top: 2.05rem
        // .contact-contents
            
            
            