@use "partials/bootstrap.scss";

$accent-color: #2d5a72;
$accent-hover: rgba(45, 90, 114, 0.65);
$custom-color: #fefefe;
$secondary-color: #f0f0ef;
$secondary-transparent: rgba(240, 240, 239, 0.77);

.btn-custom {
  border-color: $accent-color;
  background-color: $accent-color;
  color: white;
}

.btn-custom:hover {
  background-color: $accent-hover;
  color: white;
}
.fs-7 {
  font-size: 12px;
}
.card {
  min-width: 18.75em;
  height: 18em;
  max-width: 25em;
  padding: 1em;
  background-color: $secondary-color;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(214, 214, 214, 0.65);
  -moz-box-shadow: 1px 1px 2px 0px rgba(214, 214, 214, 0.65);
  box-shadow: 1px 1px 2px 0px rgba(214, 214, 214, 0.65);
}

.card:hover {
  -webkit-box-shadow: 1px 1px 2px 0px $accent-hover;
  -moz-box-shadow: 1px 1px 2px 0px $accent-hover;
  box-shadow: 1px 1px 2px 0px $accent-hover;
}
svg {
  height: 78px;
  width: 78px;
}
svg:not(:root) {
  overflow: hidden;
}

header {
  min-height: 20svh;
  min-height: 20vh;

  .active > span {
    color: $accent-color;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $accent-color;
  }
  .active > span:hover {
    color: $accent-hover;
    border-bottom: 1px solid $accent-hover;
  }
  .navbar {
    padding: 0.5em 2.75em 0.5em 3em;
  }
  .actq-logo {
    height: 75%;
    width: 75%;
  }
  .off-wrapper {
    justify-content: flex-end;
  }
  .navbar-toggler:focus {
    border: none;
    box-shadow: 0 0 0 1px;
  }
}
.main {
  &__hero-section {
    background-color: $accent-color;
    padding: 3em 3em;
    min-height: 80svh;
    min-height: 80vh;
    color: #ecf8ff;
    position: relative;

    .carousel-page {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto 0;
      padding-bottom: 2.7em;
      .text-container {
        height: 60svh;
        height: 60vh;
        border-radius: 3px;
        width: 35vh;
        padding: 14px;
        h4 {
          font-weight: 200;
        }
      }
      img {
        max-width: 40em;
        height: 60svh;
        height: 60vh;
        object-fit: cover;
        border-radius: 6px;
      }
    }
    .carousel-text {
      max-width: 25vw;
      min-width: 12em;
      height: 100%;
      color: $custom-color;
    }
    .carousel-control-next,
    .carousel-control-prev {
      padding: 1em;
      display: flex;
      align-items: flex-end;
      z-index: 3;
      width: 10%;
    }
    .carousel-indicators {
      margin-bottom: 0.3em;
      padding: 1em;
    }
  }
  &__services {
    display: block;
    min-height: 100svh;
    min-height: 100vh;
    padding: 3em;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 1.5em;
    }
    .services-cards {
      display: flex;
      gap: 2em;
      margin: 0 auto;
      justify-content: center;
    }
  }
  .hero-nav {
    align-items: center;
  }
  &__newsletter {
    min-height: 85vh;
    width: 75vw;
    padding-top: 3em;
    .text-wrapper {
      width: 80vw;
      max-width: 50em;
    }
    button {
      max-width: 12.5em;
    }
    #subscription-form {
      width: 80vw;
      max-width: 50em;
    }
    #subscribe-email {
      width: 50vw;
      max-width: 25em;
    }
  }

  .hr-70 {
    width: 70vw;
  }
  &__cta {
    display: flex;
    flex-direction: column;
    gap: 3em;
    .links-cta {
      display: flex;
      gap: 2em;
      flex-wrap: wrap;
    }
  }
  // SERVICES PAGE
  .services-content {
    position: relative;
    padding: 1.5em 3em;
    background-color: $secondary-color;
    .serv {
      display: flex;
      justify-content: space-between;
    }
    .img {
      object-fit: cover;
      object-position: left;
      opacity: 75%;
      height: 100%;
      width: 35vw;
      max-width: 40em;

      top: 0;
      bottom: 0;
    }
    .text-wrapper {
      width: 45vw;
      max-width: 40em;
      .hd-style {
        color: $accent-color;
      }
    }
  }
  // Calculators Page
  .calculators {
    h6 {
      color: $accent-color;
    }
    ul {
      list-style-type: none;

      li {
        margin-bottom: 0.3em;
      }
    }
    a {
      color: $accent-color;
      text-decoration: none;
    }
    span {
      color: $accent-color;
    }
  }

  .about-wrapper {
    margin: 2em auto;
    width: 55em;
    max-width: 80vw;
    height: 80svh;
    height: 80vh;
    h2 {
      text-align: center;
    }
  }
}
#mainSection {
  background-color: $secondary-color;
}

.footer {
  &__content {
    p,
    h6,
    a {
      margin: 0;
    }
  }
  &__content-wrapper {
    display: flex;
    gap: 1.5em;
    padding: 3em 3em;
  }
  &__foot {
    background-color: $accent-color;
    color: white;
    min-height: 4em;
    padding: 1.5em 3em 0 3em;
  }
  &__copy-terms {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  a {
    color: white;
  }
  &__contact {
    max-width: 38em;
    .form-wrapper {
      display: flex;
      gap: 0.5em;
      flex-wrap: wrap;
    }

    .contact-header {
      display: flex;
      flex-direction: column;
      width: 254px;
    }
    .contact-contents {
      width: 254px;
    }
    #honey-pot {
      display: none;
    }
    button {
      width: 70px;
    }
  }
}
@media only screen and (max-width: 64em) {
  header {
    min-height: 13svh;
    min-height: 13vh;

    .actq-logo {
      height: 60%;
      width: 60%;
    }
  }

  .main {
    &__hero-section {
      padding: 3em 3em 2em 3em;
      min-height: 87svh;
      min-height: 87vh;
      .carousel-page {
        position: relative;
        color: white;
        img {
          position: absolute;
          z-index: 0;
          max-width: 100%;
        }
      }
      .carousel-text {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        max-width: 100%;
        height: 60svh;
        height: 60vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.35);
        padding: 20vh 5em;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 48em) {
  header {
    .navbar {
      padding: 0.5em 1.5em 0.5em 2.25em;
      .navbar-brand {
        width: 300px;
        height: 80px;
      }
    }
    .actq-logo {
      width: 259.8px;
      height: 77.77px;
    }
  }
  .main {
    &__hero-section {
      .carousel-page {
        flex-direction: column;
        img {
          position: absolute;
          z-index: 0;
          max-width: 100%;
        }
      }
      .carousel-text {
        display: block;
        position: absolute;
        left: 0;
        max-width: 100%;
        height: 60svh;
        height: 60vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.35);
        padding: 20vh 2em;
        text-align: center;
      }
    }
    .services-content {
      padding: 2em 1.5em;
      .img {
        display: none;
      }
      #accounting-services {
        display: block;
        background-image: url("../../assets/savings-jar.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
      }

      #other-services {
        display: block;
        background-image: url("../../assets/Q-m3XEiEYBjIc3q9ZTUP5g.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      #tax-prep-services {
        display: block;
        background-image: url("../../assets/d3xMe7T4aO5XIR2Pj-VTCA.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .text-wrapper {
        padding: 2em 2.5em;
        background-color: $secondary-transparent;
        backdrop-filter: blur(5px);
        width: 100%;
        max-width: 100vw;
      }
    }
  }
  .footer {
    &__content-wrapper {
      padding: 2em 0;
    }
    .form-wrapper {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 39.375em) {
  .footer {
    .form-floating {
      width: 255px;
    }
  }
}
